a,
a:focus,
a:hover {
  color: #fff;
}

/* Custom default button */
.btn-default,
.btn-default:hover,
.btn-default:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritence from `body` */
  background-color: #fff;
  border: 1px solid #fff;
}

h1,h2, h3, h4, h5, h6 {
  font-weight: lighter;
}

/*
 * Base structure
 */

html,
body {
  height: 100%;
  background-image: url(../img/gfx.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
body {
  color: #fff;
  text-align: center;
}
body {
  font-family: 'Roboto', sans-serif;
  font-weight: lighter;
}

.btn-dark {
    border-radius: 20px;
    color: #fff;
    border: 1px solid #fff;
    background-color: transparent;
}

.btn-dark:hover,
.btn-dark:focus,
.btn-dark:active {
    color: #000;
    background-color: rgba(255,255,255,0.7);
}
.twitter-timeline {
  margin-top: 100px;
  padding: 40px 10px;
  color: #fff;
  font-weight: lighter;
  background-color: #eee;
  background-position: center;
  background-repeat: no-repeat;
  padding-bottom: 40px;
  -webkit-box-shadow: 0px -1px 26px -4px rgba(0,0,0,1);
  -moz-box-shadow: 0px -1px 26px -4px rgba(0,0,0,1);
  box-shadow: 0px -1px 26px -4px rgba(0,0,0,1);
}

/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
  display: table;
  width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 100%;
}
.site-wrapper-inner {
  display: table-cell;
  vertical-align: top;
}
.cover-container {
  margin-right: auto;
  margin-left: auto;
}

/* Padding for spacing */
.inner {
  padding: 30px;
}


/*
 * Header
 */
.masthead-brand {
  margin-top: 10px;
  margin-bottom: 10px;
}

.masthead-nav > li {
  display: inline-block;
}
.masthead-nav > li + li {
  margin-left: 20px;
}
.masthead-nav > li > a {
  padding-right: 0;
  padding-left: 0;
  font-size: 16px;
  font-weight: lighter;
  color: #fff; /* IE8 proofing */
  color: rgba(255,255,255,0.75);
  border-bottom: 2px solid transparent;
}
.masthead-nav > li > a:hover,
.masthead-nav > li > a:focus {
  background-color: transparent;
  border-bottom-color: #a9a9a9;
  border-bottom-color: rgba(255,255,255,.25);
}
.masthead-nav > .active > a,
.masthead-nav > .active > a:hover,
.masthead-nav > .active > a:focus {
  color: #fff;
}

@media (min-width: 768px) {
  .masthead-brand {
    float: left;
  }
  .masthead-nav {
    float: right;
  }
}


/*
 * Cover
 */

.cover {
  padding: 0 20px;
}
.cover .btn-lg {
  padding: 10px 20px;
  font-weight: lighter;
}


/*
 * Footer
 */

.mastfoot {
  color: #999; /* IE8 proofing */
  color: rgba(255,255,255,.5);
}


/*
 * Affix and center
 */

@media (min-width: 768px) {
  /* Pull out the header and footer */
  .masthead {
    position: fixed;
    top: 0;
    padding-bottom: 10px;
    border-bottom: 1px solid #fff;
  }
  .mastfoot {
    position: fixed;
    bottom: 0;
  }
  /* Start the vertical centering */
  .site-wrapper-inner {
    vertical-align: middle;
  }
  /* Handle the widths */
  .masthead,
  .mastfoot,
  .cover-container {
    width: 100%; /* Must be percentage or pixels for horizontal alignment */
  }
}

@media (min-width: 992px) {
  .masthead,
  .mastfoot,
  .cover-container {
    width: 700px;
  }
}