.section-form {
	padding: 100px 100px;
	color: #fff;
	font-weight: lighter;
	background-image: url(../img/lbs.png);
	background-position: center;
	background-repeat: no-repeat;
	-webkit-box-shadow: 0px -1px 26px -4px rgba(0,0,0,1);
	-moz-box-shadow: 0px -1px 26px -4px rgba(0,0,0,1);
	box-shadow: 0px -1px 26px -4px rgba(0,0,0,1);
}