html,
body {
    width: 100%;
    height: 100%;
}

body,
html {
  font-family: 'Roboto', sans-serif;
  font-weight: lighter;
  color: #ffffff;
  background-color: #222222;
}
.wrapper {
  width: 100%;
  height: 100%;
  display: table;
  font-weight: lighter;
}
.text-vertical-center {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}
.soon {
  font-weight: lighter;
  text-shadow: 0px 3px 2px rgba(0, 0, 0, 10)
}
.btn-contact {
  background-color: #ffffff;
  border-radius: 0px;
  color: #000000;
  box-shadow: 0px 2px 1px rgba(0,0,0, 1);
}
.btn-contact:focus,
.btn-contact:hover,
.btn-contact:active {
  background-color: #cccccc;
  border-radius: 0px;
  color: #000000;
  box-shadow: 0px 2px 1px rgba(0,0,0, 1);
}
.btn-twitter {
  background-color: #006699;
  border-radius: 0px;
  color: #ffffff;
  box-shadow: 0px 2px 1px rgba(0,0,0, 1);
}
.btn-twitter:focus,
.btn-twitter:hover,
.btn-twitter:active {
  background-color: #33cccc;
  border-radius: 0px;
  color: #ffffff;
  box-shadow: 0px 2px 1px rgba(0,0,0, 1);
}
