body {
	background-color: #32cd70;
}
body {
	font-family: 'Roboto', sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: lighter;
}
.site-wrapper {
  display: table;
  width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 100%;
}
.site-wrapper-inner {
  display: table-cell;
  vertical-align: top;
}
a {
	text-decoration: none;
}
.section-lbs {
	margin-top: 100px;
	padding: 50px 20px;
	color: #fff;
	font-weight: lighter;
	background-image: url(../img/lbs.png);
	background-position: center;
	background-repeat: no-repeat;
	padding-bottom: 20px;
	-webkit-box-shadow: 0px -1px 26px -4px rgba(0,0,0,1);
	-moz-box-shadow: 0px -1px 26px -4px rgba(0,0,0,1);
	box-shadow: 0px -1px 26px -4px rgba(0,0,0,1);
}
.section-gfx {
	margin-top: 50px;
	color: #fff;
	padding: 50px 0;
	background-image: url(../img/gfx.png);
	background-position: center;
	background-repeat: no-repeat;
	padding-bottom: 20px;
	-webkit-box-shadow: 0px -1px 26px -4px rgba(0,0,0,1);
	-moz-box-shadow: 0px -1px 26px -4px rgba(0,0,0,1);
	box-shadow: 0px -1px 26px -4px rgba(0,0,0,1);
}
.section-home {
	margin-top: 50px;
	color: #fff;
	padding: 50px 0;
	background-image: url(../img/bg.png);
	background-position: center;
	background-repeat: no-repeat;
	padding-bottom: 20px;
	-webkit-box-shadow: 0px -1px 26px -4px rgba(0,0,0,1);
	-moz-box-shadow: 0px -1px 26px -4px rgba(0,0,0,1);
	box-shadow: 0px -1px 26px -4px rgba(0,0,0,1);
}
.btn-lbs {
    border-radius: 20px;
    color: #fff;
    border: 1px solid #fff;
    background-color: transparent;
}

.btn-lbs:hover,
.btn-lbs:focus,
.btn-lbs:active {
    color: #000;
    background-color: rgba(255,255,255,0.7);
}